---
// Operator workspace shell: five-pane spine + side panels
---
<div class="operator-shell">
  <SpineInspector />
  <CorpusResolverPanel />
  <ActiveContractCard />
  <ClosureRegistryCard />
  <WeldReceiptViewer />
  <InvocationGatePanel />
</div>
